@{
    ViewData["Title"] = "Home Page";
}
@model ListEmployee
<style>

    .item:hover {
        color: #2693ff;
    }

    li:focus {
        background-color: lightblue;
    }
</style>


@{
    int i = 0;
    <script type="text/javascript">
        let index = 0;
        let focusedEmployee;
        function SetCurrentEmployee(input) {
            index = input;
            focusedEmployee = document.activeElement;
        }
        function GetEmployeeInfo()
        {
            location.href = '@Url.Action("DoIt", "Employee")?inx=' + focusedEmployee.id;
        }
    </script>


    <a class="btn btn-primary" asp-action="Refresh" asp-controller="Home">Refresh</a>
    <a class="btn btn-primary" onclick="GetEmployeeInfo()">View Employee</a>

<ul>
    @foreach (Result employee in Model.result)
    {
        <li class="active item" id="@i" tabindex="@i" onclick="SetCurrentEmployee(@i)">@employee.NAME @employee.LAST_NAME</li>
        @*<li class="active">@Html.ActionLink(@employee.NAME + " " + @employee.LAST_NAME, "Index", "Employee", Model.result[i]) </li>*@
        ++i;
    }
</ul>
}

